<div class="form-group">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card">
                <div class="card-body">
<p>
<strong>Name:</strong>
  <%= @bank.title %>
</p>

</div>
</div>
    </div>
    </div>
    </div>
    </div>
<center>
     <%= link_to 'Back', admin_banks_path %>
</center>
<br>
